@* @inherits InputBase<DateTime?>

<link rel="stylesheet" href="css/custom-fod-date-picker.css" />

<div class="form-group position-relative">
	@if (!string.IsNullOrWhiteSpace(Label))
	{
		<div class="d-flex align-items-center mt-2 gap-2">
			<label class="col-form-label mb-0">
				@Label<span class="text-danger">@(IsRequired ? "*" : string.Empty)</span>
			</label>
		</div>
	}

	<FodDatePicker Date="@CurrentValue"
		       MaxDate="@MaxDate"
		       MinDate="@MinDate"
		       Variant="FodVariant.Outlined"
		       Required="@IsRequired"
		       DateFormat="@DateFormat"
		       RequiredError="@RequiredErrorMessage"
		       Placeholder="@Placeholder"
		       Class="@(isInvalid ? "input-invalid" : string.Empty)"
		       DateChanged="OnDateChanged" />
</div>

<style>
	.input-invalid {
		outline: 1px solid red !important;
		border-radius: 4px !important;
	}

	.fod-input.fod-input-outlined .fod-input-outlined-border {
		border-width: 1px !important;
		border-color: rgba(0, 0, 0, 0.09);
		border-radius: 4px !important;
	}
</style>

@code {
	[Parameter] public string Label { get; set; } = string.Empty;
	[Parameter] public string Placeholder { get; set; } = string.Empty;
	[Parameter] public string DateFormat { get; set; } = string.Empty;

	[Parameter] public bool IsRequired { get; set; }
	[Parameter] public string RequiredErrorMessage { get; set; } = string.Empty;

	[Parameter] public DateTime? MaxDate { get; set; }
	[Parameter] public DateTime? MinDate { get; set; }

	private bool isInvalid;
	private ValidationMessageStore? _messageStore;

	private async Task OnDateChanged(DateTime? newDate)
	{
		CurrentValue = newDate;
		await Task.CompletedTask;
	}

	protected override bool TryParseValueFromString(string? value, out DateTime? result, out string validationErrorMessage)
	{
		if (DateTime.TryParse(value, out var parsed))
		{
			result = parsed;
			validationErrorMessage = string.Empty;
			return true;
		}
		else
		{
			result = null;
			validationErrorMessage = Texts.Field_Required;
			return false;
		}
	}

	protected override void OnInitialized()
	{
		if (EditContext != null)
		{
			_messageStore = new ValidationMessageStore(EditContext);

			EditContext.OnValidationRequested += (sender, args) =>
			{
				ValidateRange();
			};

			EditContext.OnFieldChanged += (sender, args) =>
			{
				if (args.FieldIdentifier.Equals(FieldIdentifier.Create(ValueExpression)))
				{
					ValidateRange();
				}
			};
		}
	}

	private void ValidateRange()
	{
		if (EditContext == null || _messageStore == null)
			return;

		var field = FieldIdentifier.Create(ValueExpression);

		_messageStore.Clear(field);
		if (IsRequired && CurrentValue == null)
		{
			_messageStore.Add(field, !string.IsNullOrWhiteSpace(RequiredErrorMessage) ? RequiredErrorMessage : Texts.Field_Required);
		}

		isInvalid = _messageStore[field]?.Any() ?? false;
		EditContext.NotifyValidationStateChanged();
	}
} *@