@* @inject IStringLocalizer<Texts> Localizer;

<FodModal Show="true" Size="FodSize.Medium" OnClosed="OnClosePopup" Centered="true">
    <HeaderTemplate>
        @Localizer["Econ_Complaint_Deletion_Warning"]
    </HeaderTemplate>
    <FooterTemplate>
        <div class="d-flex justify-content-end gap-3">
            <FodButton StartIcon="@FodIcons.Filled.Check" Variant="FodVariant.Filled" Color="FodColor.Success" OnClick="ConfirmedClick">@Localizer["Yes"]</FodButton>
            <FodButton StartIcon="@FodIcons.Filled.Close" Variant="FodVariant.Filled" Color="FodColor.Error" OnClick="OnClosePopup">@Localizer["No"]</FodButton>
        </div>
    </FooterTemplate>
</FodModal>

@code {
    [Parameter] public EventCallback OnClosePopup { get; set; }
    [Parameter] public EventCallback<Guid> OnConfirm { get; set; }
    [Parameter] public Guid Id { get; set; } = default!;

    private async Task ConfirmedClick()
    {
        await OnConfirm.InvokeAsync(Id);
    }
} *@
