@page "/add-or-update-country/{ModelId}"
@page "/add-or-update-country/"

@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using WebDevelopment.Shared.DTO
@using WebDevelopment.Shared.Enums
@using WebDevelopment.Shared.Interfaces

@inject ICountryService CountryService
@inject NavigationManager NavigationManager

@if (IsLoading)
{
    <Loading />
}
else
{
    <button type="button" class="btn btn-primary m-3" @onclick="NavigateBack">
        Go back
    </button>
    <EditForm Model="@Country" OnSubmit="@(async () => await SaveChanges(Country))" FormName="AddCountry">

        <p>PeopleCount</p>
        <InputNumber @bind-Value="@Country.PeopleCount"></InputNumber>

        <p style="margin-top:10px;">Type</p>
        <InputText @bind-Value="@Country.Type"></InputText>

        <p style="margin-top:10px;">Name</p>
        <InputText @bind-Value="@Country.Name"></InputText>

        <p style="margin-top:10px;">Country.Continent</p>
        <InputSelect TValue="ContinentEnum?" @bind-Value="@Country.Continent">

            @foreach (var val in Enum.GetValues(typeof(ContinentEnum)).Cast<ContinentEnum>())
            {
                <option value="@val">@val</option>
            }
        </InputSelect>

        <p style="margin-top:10px;">Country.Continent</p>
        <InputSelect TValue="CountrySizeEnum?" @bind-Value="@Country.CountrySize">

            @foreach (var val in Enum.GetValues(typeof(CountrySizeEnum)).Cast<CountrySizeEnum>())
            {
                <option value="@val">@val</option>
            }
        </InputSelect>
        <p style="margin-top:10px;">Country.Continent</p>
        <InputSelect TValue="RankEnum?" @bind-Value="@Country.Rank">

            @foreach (var val in Enum.GetValues(typeof(RankEnum)).Cast<RankEnum>())
            {
                <option value="@val">@val</option>
            }
        </InputSelect>

        <InputCheckbox @bind-Value="@Country.IsIsland"></InputCheckbox>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </EditForm>
}


@code {
    [Parameter] public string ModelId { get; set; } = string.Empty;
    private CountryDto Country { get; set; } = new();
    private List<CountryDto> Countries { get; set; } = [];
    private bool IsLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(ModelId))
        {
            Country = new();
        }
        else
        {
            if (!Guid.TryParse(ModelId, out var guid))
                return;

            var result = await CountryService.GetById(guid);
            Country = result.Data;
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task SaveChanges(CountryDto? country)
    {
        if (country != null && string.IsNullOrEmpty(ModelId))
        {
            await CountryService.Add(country);
            NavigationManager.NavigateTo($"list-page");
        }
        else if (country != null && ModelId != string.Empty)
        {
            var result = await CountryService.Update(country);
            NavigationManager.NavigateTo($"list-page");
        }
        else
            return;
    }

    public async Task Add(CountryDto model)
    {
        await CountryService.Add(model);
        Country = new();
        StateHasChanged();
    }

    public async Task Update(CountryDto model)
    {
        await CountryService.Update(Country);
        await GetById(Country.Id.ToString());

        StateHasChanged();
    }

    public async Task GetById(string id)
    {
        if (!Guid.TryParse(id, out var guid))
            return;

        var result = await CountryService.GetById(guid);
        Countries = [];
        Countries.Add(result.Data);
        Country = result.Data;
        StateHasChanged();
    }

    public static string GetDisplayName(Enum enumValue)
    {
        var member = enumValue.GetType().GetMember(enumValue.ToString()).First();
        var display = member.GetCustomAttribute<DisplayAttribute>();

        return display?.GetName() ?? enumValue.ToString();
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("list-page");
    }
}
