@page "/list-page"

@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using WebDevelopment.Client.Components.UIElements
@using WebDevelopment.Client.EnumExtensions
@using WebDevelopment.Shared.DTOs
@using WebDevelopment.Shared.DTOs.Country
@using WebDevelopment.Shared.DTOs.Page
@using WebDevelopment.Shared.Enums
@using WebDevelopment.Shared.Interfaces
@using WebDevelopment.Shared.Modal.ModalSize
@using WebDevelopment.Shared.Responses

@inject ICountryService CountryService
@inject NavigationManager NavigationManager


<style>
    /* Dezactivare sageti de la InputNumner */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .input-label {
        margin-top: 15px;
        display: inline-block
    }

    /* Scoatere sageata la input-select*/
    .no-arrow-select {
        background-image: none;
    }
    /* Dezactivare border, outline verde la input valid*/
    .valid.modified:not([type=checkbox]) {
        outline: none;
    }



    .search-container {
        position: relative;
        width: 300px;
        margin: 50px auto;
    }

        /* Stil input */
        .search-container input {
            width: 100%;
            padding: 10px 40px 10px 15px; /* spațiu pentru icon */
            border: 2px solid #ccc;
            border-radius: 25px;
            font-size: 16px;
            transition: all 0.3s ease;
        }

            /* Efect focus */
            .search-container input:focus {
                border-color: #1563b1;
                box-shadow: 0 0 5px rgba(21, 99, 177, 0.5);
                outline: none;
            }

        /* Icon lupă */
        .search-container .icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
            font-size: 18px;
            pointer-events: none;
        }

        /* Icon hover */
        .search-container input:focus + .icon {
            color: #1563b1;
        }

</style>


<AuthorizeView Context="ctx1">
    <Authorized>

        @if (IsLoading)
        {
            <Loading />
        }
        else
        {
            <button class="btn btn-primary" @onclick="ShowAddModal">Add country</button>

            <div class="search-container">
                <input type="text" placeholder="Caută..." @oninput="SearchByKeyword">
                <i class="fas fa-search icon"></i>
            </div>

            @* <button type="button" class="btn btn-primary m-3" @onclick="() => NavToAddOrUpdate()">Add Or Update Country</button>*@

            <GenericTable T="CountryDto" 
                TFilter="CountryFilterDto"
                Elements="Countries" 
                OnDelete="Delete" 
                OnGetList="SetPagenumber" 
                Filter="Filter" 
                FilterChanged="OnFilterChanged" 
                AddOrUpdateLink="add-or-update-country" />

        }


        @if (_showAddModal)
        {
            <BaseModal Title="Add new country" Size="@ModalSize.Medium" OnCancel="HideAddModal" OnConfirm="AddCountry">

                <EditForm EditContext="EditContext" FormName="AddCountry">
                    <DataAnnotationsValidator></DataAnnotationsValidator>

                    <label class="input-label">PeopleCount</label>
                    <InputNumber class="form-control" @bind-Value="@Country.PeopleCount"></InputNumber>

                    <label class="input-label">Type</label>
                    <InputText class="form-control" @bind-Value="@Country.Type"></InputText>

                    <label class="input-label">Name</label>
                    <InputText class="form-control" @bind-Value="@Country.Name"></InputText>
                    <ValidationMessage For="() => Country.Name"></ValidationMessage>

                    <label class="input-label">Continent</label>
                    <InputSelect class="form-select no-arrow-select" TValue="ContinentEnum?" @bind-Value="@Country.Continent">
                        <option value="">Select...</option>
                        @foreach (var val in Enum.GetValues(typeof(ContinentEnum)).Cast<ContinentEnum>())
                        {
                            <option value="@val">@val</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Country.Continent"></ValidationMessage>

                    <label class="input-label">CountrySize</label>
                    <InputSelect class="form-select" TValue="CountrySizeEnum?" @bind-Value="@Country.CountrySize">
                        <option value="">Select...</option>
                        @foreach (var val in Enum.GetValues(typeof(CountrySizeEnum)).Cast<CountrySizeEnum>())
                        {
                            <option value="@val">@val</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Country.CountrySize"></ValidationMessage>

                    <label class="input-label">Rank</label>
                    <InputSelect class="form-select" TValue="RankEnum?" @bind-Value="@Country.Rank">
                        <option value="">Select...</option>
                        @foreach (var val in Enum.GetValues(typeof(RankEnum)).Cast<RankEnum>())
                        {
                            <option value="@val">@val</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Country.Rank"></ValidationMessage>

                    <label class="input-label">IsIsland</label>
                    <InputCheckbox @bind-Value="@Country.IsIsland"></InputCheckbox>

                </EditForm>
            </BaseModal>

        }

    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    public CountryDto Country { get; set; } = new();
    public PaginatedCollection<CountryDto> Countries { get; set; } = new();
    private EditContext EditContext { get; set; }
    public bool IsLoading { get; set; } = true;
    private bool _showAddModal { get; set; } = false;
    private int _pageNumer { get; set; }
    private int _pageSize { get; set; } = 1;
    private PageFilter<CountryFilterDto> Filter { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await GetList();
        EditContext = new EditContext(Country);
        IsLoading = false;
        StateHasChanged();
    }

    private async Task SetPagenumber(int pageNumber)
    {
        _pageNumer = pageNumber;
        var result = await CountryService.GetList(Filter);

        Countries = result.Data;
    }

    public async Task GetList(bool showLoading = false, PageFilter<CountryFilterDto> filter = default)
    {
        if (showLoading)
            IsLoading = true;

        var result = await CountryService.GetList(Filter);

        Countries = result.Data;
        IsLoading = false;
    }

    public async Task Delete(Guid Id)
    {
        if (Id != Guid.Empty)
        {
            await CountryService.Delete(Id);
        }
        await GetList();
        StateHasChanged();
    }

    private async Task AddCountry()
    {
        var isValid = EditContext.Validate();
        if (isValid)
        {
            await Add(Country);
            await GetList();
        }
    }

    public async Task Add(CountryDto model)
    {
        await CountryService.Add(model);
        Country = new();
        HideAddModal();
        StateHasChanged();
    }

    private void ShowAddModal() => _showAddModal = true;
    private void HideAddModal() => _showAddModal = false;

    public void NavToAddOrUpdate(string Id = default!)
    {
        NavigationManager.NavigateTo($"add-or-update-country/{Id}");
    }

    private string GetEnumName(Enum? value) => EnumExtensions.GetDisplayName(value);

    private async Task SearchByKeyword(ChangeEventArgs e)
    {
        var searchKeyword = e.Value?.ToString() ?? string.Empty;

        await GetList(filter: Filter);
    }

    private async Task OnFilterChanged(PageFilter<CountryFilterDto> filterChanged)
    {
        Filter = filterChanged;
        await GetList(filter: Filter);
    }
}

@* new PageFilter<CountryFilterDto>
(
    PageNumber: _pageNumer,
    PageSize: filter != null ? filter.PageSize : 10,
    Filter: new CountryFilterDto(),
    SearchKeyword: searchKeyword,
    SortDirection: SortDirection.None,
    SortColumn: string.Empty
)*@